@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">
		<img src="https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" width="120" height="120" />
        RPC :: Red de Programación Competitiva
    </h1>
</div>


<h4>Sign In</h4>
<hr style="height:2px; border-width:0;color:deepskyblue;background-color:deepskyblue">

<div class="container mt-5"> 
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-12 col-md-12 col-lg-4">
			
			
			<form method="post">
			<div class="mb-3">
				<label class="form-label" asp-for="UserID">User Name:</label>
				<input type="text" asp-for="UserID" class="form-control" />
				<span class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="form-label">Password:</label>
				<input type="password" asp-for="Password" class="form-control" />
				
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">SIGN IN</button>
			</div>
			<hr style="height:2px; border-width:0;color:deepskyblue;background-color:deepskyblue">
			<div class="mb-3">
				<label class="form-label">New User</label>
			</div>
			<div class="mb-3">
				<button class="btn btn-primary" asp-page="./Users/Create">SIGN UP</button>
			</div>
			</form>
		</div>
	</div>
</div>
