@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">
        hello    
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method = "post">
        <input  type="submit" value="ok"/>
    </form>
</div>*@

<div class="container mt-5"> 
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">RPC :: Red de Programación Competitiva</h1>
			
			
			<form method="post">
			<div class="mb-3">
				<label class="form-label">Sign In</label>
			</div>
			<hr style="height:2px; border-width:0;color:deepskyblue;background-color:deepskyblue">
			<div class="mb-3">
				<label class="form-label" asp-for="userData.UserName">User Name:</label>
				<input type="text" asp-for="userData.UserName" class="form-control" />
				<span asp-validation-for="userData.UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="form-label" asp-for="userData.Password">Password:</label>
				<input type="password" asp-for="userData.Password" class="form-control" />
				<span asp-validation-for="userData.Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">SIGN IN</button>
			</div>
			<hr style="height:2px; border-width:0;color:deepskyblue;background-color:deepskyblue">
			<div class="mb-3">
				<label class="form-label">New User</label>
			</div>
			<div class="mb-3">
				<button class="btn btn-primary" asp-page="./Users/Create">SIGN UP</button>
			</div>
			</form>
		</div>
	</div>
</div>
